* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins';
}

body {
	background-color: #F5F5F5;
}

/* Top container features */

.ellipse {
	position: absolute;
	width: 540px;
	height: 540px;

	background: #FFD23F;
	opacity: 0.4;
	filter: blur(350px);
}

.ellipse2 {
	position: absolute;
	width: 540px;
	height: 540px;
	margin-left: 978px;
	margin-top: 300px;

	background: #608BFF;
	opacity: 0.4;
	filter: blur(350px);
}

.college {
	width: 600px;
	height: 400px;
	margin-left: 35px;
	margin-top: 100px;
}

.top-content {
	display: flex;
}

.vm-content {
	margin-left: 90px;
	margin-top: 90px;
}

.content-row {
	display: flex;
	justify-content: space-between;
}

.content {
	width: 400px;
	margin-bottom: 30px;
}

.mission {
	margin-top: 18px;
	margin-right: 50px;
}

/* Mid container features */

.ellipse3 {
	position: absolute;
	width: 540px;
	height: 540px;
	margin-top: 600px;

	background: #608BFF;
	opacity: 0.4;
	filter: blur(350px);

}

.ellipse4 {
	position: absolute;
	width: 540px;
	height: 540px;
	margin-left: 895px;
	margin-top: 800px;

	background: #FFD23F;
	opacity: 0.4;
	filter: blur(350px);

}

main {
	margin: 20px;
}

section {
	margin-bottom: 40px;
}

h2 {
	font-size: 30px;
	font-weight: 500;
	line-height: 36px;
	margin-bottom: 18px;
}

h3 {
	color: #FF5000;
	font-size: 20px;
	font-weight: 500;
	line-height: 36px;
	margin-bottom: 12px;
}

footer {
	background-color: #0071c5;
	color: white;
	padding: 20px;
	text-align: center;
}

p {
	line-height: 2;
}